@model WebPortal.Models.User
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>

@Html.BeginForm("Login", "Authentication", new { Model }, FormMethod.Post){
    @Html.AntiForgeryToken()
        @Html.TextBoxFor(u => u.Username);
        @Html.TextBoxFor(u => u.Password);
            <input type="submit" value="Sign In">

}
