@using WebPortal.Models.Sensors
@using RaspberryLib;
@model ISensor

@{
    ViewBag.Title = "Edit";
    var raspberryPins = Enum.GetNames(typeof(PinCode));
    SelectList raspberryPinsList = new SelectList(raspberryPins);
    var sensorTypes = Enum.GetNames(typeof(SensorType));
    SelectList sensorTypesList = new SelectList(sensorTypes);
}

<h2>@ViewBag.Title</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorType" class="control-label"></label>
                <div>
                    @Html.DropDownList("SensorType", sensorTypesList, "Select Sensor Type")
                </div>
                <input asp-for="SensorType" hidden="hidden" />
                <span asp-validation-for="SensorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaspberryPin" class="control-label"></label>
                <div>
                    @Html.DropDownList("RaspberryPin", raspberryPinsList, "Select Pin")
                </div>
                <input asp-for="RaspberryPin" hidden="hidden" />
                <span asp-validation-for="RaspberryPin" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index", "Sensors", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
