@{
    ViewData["Title"] = "Smart solution";
}
<br />
<br />
<br />



<div class=" active">
    <h1> Ko smo mi? </h1>
    Mi smo CilimTech, neformalna grupa okupljena sa ciljem da transformiše lokalne zajednice u moderno društvo kroz okupljanje IT zajednice,
    razvoj i digitalizaciju kreativne ekonomije i edukaciju mladih za za rad u IT industriji i digitalu.
</div>

