@{
    ViewData["Title"] = "Smart solution";
}
<br />
<br />
<br />



<div class=" active">
    <h2> Ko smo mi? </h2>
    <br />
    Mi smo CilimTech, neformalna grupa okupljena sa ciljem da transformiše lokalne zajednice u moderno društvo kroz okupljanje IT zajednice,
    razvoj i digitalizaciju kreativne ekonomije i edukaciju mladih za rad u IT industriji i digitalu.
</div>

