@model WebPortal.Models.User

@{
    ViewData["Title"] = "Sign in";
}

<div class="col-md-offset-4">
<h2>Sign in</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<div>
    <p style="color:blue"> Don't have account? Please sign in.</p>
    @Html.ActionLink("Sign up", "SignUp", "Home", null, new { @class = "btn btn-primary btn-sm" })
</div>
   </div>
