@using WebPortal.Models.Switches
@using RaspberryLib
@model ISwitch

@{
    ViewBag.Title = "Switch";
    var raspberryPins = Enum.GetNames(typeof(PinCode));
    SelectList raspberryPinsList = new SelectList(raspberryPins);
    var switchTypes = Enum.GetNames(typeof(SwitchType));
    SelectList switchTypesList = new SelectList(switchTypes);
}

<h2>Edit</h2>
<h4>@ViewBag.Title</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SwitchesEdit" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwitchType" class="control-label"></label>
                <div>
                    @Html.DropDownList("SwitchType", switchTypesList, "Select Switch Type")
                </div>
                <input asp-for="SwitchType" hidden="hidden" />
                <span asp-validation-for="SwitchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaspberryPin" class="control-label"></label>
                <div>
                    @Html.DropDownList("RaspberryPin", raspberryPinsList, "Select Pin")
                </div>
                <input asp-for="RaspberryPin" hidden="hidden" />
                <span asp-validation-for="RaspberryPin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InverseLogic" class="control-label"></label>
                <input asp-for="InverseLogic" type="checkbox" class="checkbox" />
                <span asp-validation-for="InverseLogic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" type="checkbox" class="checkbox" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ActionLink("Back", "SwitchesConfiguration", "Switches", null, new { @class = "btn btn-primary" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
